/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 ene 2023, 0:21:38
    Author     : Albert
*/
.root{
    -fx-background-color: white;   
}
.button{
    -fx-background-color: blue;
    -fx-text-fill: white; 
    -fx-font-size: 18 px;
    -fx-font-weight: bold;
}
